<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.xiaoxixi.lock.mapper.LockServiceMapper">

    <delete id="delete">
      delete from lock_service where id = #{id}
    </delete>

    <insert id="insert">
      insert into lock_service (id) values (#{id})
    </insert>
</mapper>